html(lang="en")
head
    meta(charset="UTF-8")
    title 
body 
    span= title
    if(user)
        span Welcome back #{user.username}!
        if(user.membership_status == false) 
            a(href="join-club") Click to join the club!
        a(href="/new-message") Create Message
        each message in messages
            span #{message.title}
            span #{message.message}
            span Posted by #{message.user.username} at #{message.time_formatted}
        else 
            span There are no messages.
        a(href="/log-out") Log Out
    else
        span Please log in.
        form(action="/login", method="POST")
            label(for="username") Username
            input(name="username" placeholder="Enter username" type="text")
            label(for="password") Password
            input(name="password" placeholder="Enter password" type="password")
            button Sign In
        a(href="/sign-up") Sign Up
        each message in messages
            span #{message.title}
            span #{message.message}
            span Posted by Member at N/A
        else 
            span There are no messages.
